@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.header {

    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 5%;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 1px 1px 15px 1px #ffffff;

}

.header .logo {

    width: 25%;
    height: 100%;
    display: flex;
    padding-left: 2%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.header .logo .image-logo {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .logo .image-logo img {

    width: 70%;

}

.header .logo .text-logo {


    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    opacity: 0.4;

}

.header .logo .text-logo img {

    width: 80%;

}

.header .menu {
    display: flex;
}

.header .menu .navegation .item {

    color: #ffffff;
    font-size: 20px;
    cursor: pointer;

}

.header .logo:hover .text-logo {
    transition: 1s ease-in-out;
    opacity: 0.8;
}
