.header {

    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 1px 1px 15px 1px #ffffff;
    position: relative;

}

.header .logo {

    width: 25%;
    height: 100%;
    display: flex;
    padding-left: 2%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.header .logo .image-logo{

width: 50%;
height: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.header .logo .image-logo img{

    width: 50%;
    height: 50%;

}

.header .logo .text-logo{


    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    opacity: 0.4;
    
}

.header .logo .text-logo img{
   
    width: 80%;
 
}


.header .menu{
    display: flex;
    gap: 50px;
    padding-right: 2%;
}

.header .menu .navegation {

    list-style-type: none;
    display: flex;
    gap: 50px;

}

.header .menu-mobile{

    display: none;

}

.header .menu .navegation-mobile{
    width: 50px;
    display: none;
}

.header .menu .navegation-mobile .icon-menu{
    display: none;
    z-index: 1;
}

.header .menu .navegation .item{

    color: #ffffff;
    font-size: 20px;
    cursor: pointer;

}


.header .logo:hover .text-logo{
    transition: 1s ease-in-out;
    opacity: 0.8;
}

.header .navegation .item:hover{
    transition: 1s ease-in-out;
    text-shadow: 1px 1px 10px #ffffff;

}
