@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Protest+Revolution&display=swap');


.movies,
.characters,
.indications {

    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.home .content .container-title {
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid var(--color-button-link);


}

.home .content .container-title .icon {
    color: var(--color-button-link);
    font-size: 30px;
}

.home .content .container-title .title {

    color: #ffffff;
    font-size: 30px;

}

.home .content .container-content {

    display: flex;
    width: 100%;
    padding: 10% 2% 2% 2%;
    justify-content: space-around;
    align-items: center;
    gap: 0.5%;

}

.home  .content .container-content .movie,.home .indications .content .container-content .movie {
    display: flex;
    width: 250px;
    height: 430px;
    flex-direction: column;
    padding: 1%;
    background-color: #ffffff;
    border-radius: 2%;
    gap: 10px;

    &:hover {

        transition: 3ms ease-in-out;
        cursor: pointer;
        box-shadow: 5px 0px 50px 5px var(--color-button-link);
    }


}



.home .content .container-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 4%;
    padding-right: 8%;

}


.home .content {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;



    >.container-content {

        >.movie,
        .character,
        .starchip .title-film {

            text-align: center;
            font-size: 13px;
            color: #000000;
        }


    }

}

.home .characters .content .character {

    display: flex;
    width: 40%;
    height: 100%;
    padding: 1% 1% 1% 1%;
    margin: 1%;
    gap: 5%;
    align-items: center;
    background-image: var(--background-section-home);
    border-radius: 100px;
    cursor: pointer;

}

.home .characters .content .character .image {
    width: 70px;
    height: 70px;
    display: flex;
}

.home .characters .content .character {


    &:hover {

        box-shadow: 0.5px 0px 0.5px 0.5px #ffffff;
    }

}

.home .characters .content .character .title-character {
    color: #ffffff;
    font-size: 22px;
    padding-left: 3%;
}



.home .indications .content .container-content .movies {

    display: flex;
    justify-content: center;
    background-image: none;
    width: 80%;
    gap: 15%;
}


.home .indications .content .container-content .movie .image{
    width: 100%;
    /* height: 80%; */
    background-color: aqua;
    display: flex;
}

.home .indications .content .container-content .movie .image img{
    width: 100%;
}



.home .indications .content {



    >.container-button {
        width: 20%;
        text-align: center;
        padding-left: 8%;

    }
}



.home .image img {
    width: 100%;
}

.home .movies .content .container-content .movie .image {

    width: 100%;
}


.home .characters .image img {
    width: 100%;
    border-radius: 100%;
    border: 1px solid white;
}



.home .content .container-button .btn-movie,
.btn-character,
.btn-starchip {

    color: var(--color-button-link);
    cursor: pointer;
    font-size: 50px;

}