@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.home {
    display: none;
}

.movies,
.characters,
.movie-details {


    font-family: "Open Sans", sans-serif;
    font-weight: 600;

}

.home .content .container-title,
.movie-details .content .container-title {
    display: flex;
    width: 30%;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
    animation: visible-animation 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 80%;
    padding-top: 3%;

}

.home .movies .content .container-title,
.movie-details .content .container-title {

    animation: title-animation 1s ease-in-out;

}

.body .container .home .movies .content .container-content {
    gap: 40px;
}

.home .content .container-title .icon,
.movie-details .content .container-title {
    color: var(--color-button-link);
    font-size: 30px;
}

.movie-details .content .container-title .icon {
    font-size: 30px;
    margin-top: 5px;

}

.home .content .container-title .title {

    color: #ffffff;
    font-size: 30px;
    font-family: redwing;

}


.home .content .container-content {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10% 2% 2% 2%;
    justify-content: space-around;
    align-items: center;
    gap: 0.5%;
    animation: visible-animation 2s ease-in-out;

}

.home .characters .content .container-content {

    animation: visible-animation 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;


}

.home .content .container-content .movie,
.movie-details .content .container-content .movie-section {
    display: flex;
    width: 250px;
    height: 430px;
    flex-direction: column;
    padding: 1%;
    background-color: #ffffff;
    border-radius: 2%;
    gap: 10px;
    animation: visible-animation 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 70%;


    &:hover {

        transition: 3ms ease-in-out;
        cursor: pointer;
        box-shadow: 5px 0px 50px 5px var(--color-button-link);
    }




}

.movie-details .content .container-content .movie-section {

    height: auto;
    animation: none;

    &:hover {

        transition: none;
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px var(--color-button-link);

    }

}

.home .content .container-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 4%;
    padding-right: 8%;

}

.movie-details .content .container-content .title-film {

    text-align: center;
    font-size: 13px;
    color: #000000;

}


.home .content {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
    text-align: center;



    >.container-content {

        > .character,
        .starchip {

            text-align: center;
            font-size: 13px;
            color: #000000;
        }


    }

}

.home .characters .content .character,
.elements-cast .character {

    display: flex;
    width: 40%;
    height: 100%;
    padding: 1% 1% 1% 1%;
    margin: 1%;
    gap: 5%;
    align-items: center;
    background-image: var(--background-section-home);
    cursor: pointer;

}


.home .characters .content .character .image {
    width: 70px;
    height: 70px;
    display: flex;
}

.home .characters .content .character {


    &:hover {

        box-shadow: 1px 2px 0.5px 0.5px #ffffff;

    }

}


.home .characters .content .character .title-character {
    color: #ffffff;
    font-size: 16px;
    padding-left: 3%;
}


.home .image img,
.movie-details .image img {
    width: 100%;
}

.home .movies .content .container-content .movie .image,
.movie-details .content .container-content .movie .image {

    width: 100%;
}

.home .characters .image img {
    width: 100%;
    border-radius: 3%;
}

.btn-rotate {

    transform: rotate(180deg);
    transition: 1s ease-in-out;
}

.home .content .container-button .btn-movie,
.btn-character,
.movie-details .icon-home,
.movie-details .content .container-content .background-movie .details .details-elements .elements.movie .icon-home {

    color: #ffffff;
    cursor: pointer;
    font-size: 50px;

    &:hover {


        transition: 0.5s ease-in-out;
        color: var(--color-button-link);

    }

}

.movie-details .icon-home {

    font-size: 20px;
    margin-left: 1%;

}
