.home {

    display: grid;
    width: 100%;
    height: 100%;
    padding: 1%;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(3,33%);
    gap: 1%;
}

.movies,
.characters,
.starchips {

    background-image: var(--background-section-home);
    border-radius: 2%;

}

.movies {

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;

}

.characters {

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;


}

.starchips {

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;

}

.home .content {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;

}

.home .content .title {

    color: #ffffff;
    font-size: 22px;

}

.home .container-content{
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: space-around;
    align-items: center;
    gap: 0.5%;
}

.home .container-content .title{

    text-align: center;
    font-size: 13px;

}

.home .content .container-button{
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    padding-top:4%;
    padding-right: 8%;
}

