.loading{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: 2s ease-in-out;
}

.loading.cast-details-loading{
    height: 100%;
}

.loading .icon{

    font-size: 150px;

}

.loading .icon,.loading .text{
    animation: loading 1s ease-in-out infinite;
}

.loading .text{
    margin-top: 30px;
    font-size: 30px;
}

@keyframes loading{

    from{

        color: #ffffff;
    }

    to{

        color: var(--color-button-link);

    }

}