.movie-details {
    width: 100%;
    height: 100%;
    display: none;

}


.movie-details .content .background-movie {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4%;
    margin-top: 2%;
    gap: 4%;

    animation: visible-animation 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 70%;

    /* &:hover {

        transition: 3ms ease-in-out;
        cursor: pointer;
        box-shadow: 5px 0px 50px 5px var(--color-button-link);
    } */


}


.movie-details .content .background-movie .details {

    background-color: #000000;
    width: 100%;
    height: 290px;
    border-radius: 1%;
    opacity: 0.8;
    position: relative;

    &:hover {

        .details-elements .elements-movie,
        .elements-cast {
            transition: 1s ease-in-out;
            opacity: 1;
        }


        transition: 1s ease-in-out;
        cursor: pointer;
        box-shadow: 5px 0px 50px 5px var(--color-button-link);

    }



}

.movie-details .content .background-movie .details .details-elements .elements-movie,
.elements-cast {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 4%;
    position: absolute;
    opacity: 0.4;
    cursor: auto;


}

.movie-details .content .background-movie .details .details-elements .loading {
    display: none;
    position: absolute;

}

.movie-details .content .container-title {


    min-width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding: 0;
    margin: 5% 0% 8% 0%;
    font-size: 20px;

}

.movie-details .content .details .details-elements .text {
    font-size: 14px;
}

.movie-details .content .container-title .title {

    color: #ffffff;
    font-size: 30px;

}


.movie-details .content .details-elements .details-elements-inline,
.cast-elements-inline {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.movie-details .content .details-elements-inline .average {

    width: 48px;
    height: 48px;
    font-size: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-image: var(--background-section-home);
    border: 1px solid#ffffff;
}

.movie-details .content .details-elements-inline .average .icon {
    position: absolute;
    bottom: -10px;
    right: -1px;
    font-size: 20px;
}

.elements-cast {
    display: none;
    padding: 1%;


}

.elements-cast .cast-elements-inline{
    /* background-color: aqua; */
    width: 100%;
    height: 85%;
    padding: 2%;
}

.elements-cast .character {

    width: 15%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    padding: 0;
    margin: 0;
    /* border-radius: 7%; */
    background-image: none;
    /* gap: 5%; */

}

.elements-cast .character:hover{
    transition: 1s ease-in-out;
    /* box-shadow: 1px 1px 10px 0px #ffffff; */
}

.elements-cast .character .image {

    width: 100%;
    height: 70%;
    display: flex;

}


.btn-movie-details-back {
    width: 0;
    font-size: 18px;
}

.elements-cast .cast-elements-inline .icon-home {

    font-size: 20px;
    padding: 5%;

}

.elements-cast .cast-elements-inline .name-character-movie-details {
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 50%;
}