.movie-details {
    width: 100%;
    height: 100%;
    display: none;

}


.movie-details .content .background-movie {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4%;
    margin-top: 2%;
    gap: 4%;

    animation: visible-animation 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 70%;
}


.movie-details .content .background-movie .details {

    background-color: var(--color-button-link);
    width: 100%;
    height: 290px;
    border-radius: 1%;
    opacity: 0.4;
}

.movie-details .content .background-movie .details .details-elements {
    height: 100%;
    position: relative;
    opacity: 1;

}


.movie-details .content .background-movie .details:hover {

    opacity: 0.9;
    transition: 2s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 0px 1px 1px #ffffff;
}


.movie-details .content .background-movie .details .details-elements .elements-movie,
.elements-cast {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 4%;
    opacity: 1;
    cursor: auto;
    position: absolute;

}

.movie-details .content .background-movie .details .details-elements .loading {
    display: none;
    position: absolute;

}

.movie-details .content .container-title {


    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding: 0;
    margin: 5% 0% 8% 0%;
    font-size: 20px;
    border-bottom: 3px solid var(--color-button-link);
}

.movie-details .content .details .details-elements .text {
    font-size: 14px;
}

.movie-details .content .container-title .title {

    color: #ffffff;
    font-size: 25px;
    font-family: redwing;

}


.movie-details .content .details-elements .details-elements-inline,
.cast-elements-inline {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.movie-details .content .details-elements-inline .average {

    width: 48px;
    height: 48px;
    font-size: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-image: var(--background-section-home);
    border: 1px solid#ffffff;
}

.movie-details .content .details-elements-inline .average .icon {
    position: absolute;
    bottom: -10px;
    right: -1px;
    font-size: 20px;
}

.elements-cast {
    display: none;
    padding: 1%;
    position: absolute;


}

.elements-cast .cast-elements-inline {
    width: 100%;
    height: 85%;
    padding: 2%;
}

.elements-cast .character {

    width: 25%;
    height: 200px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 5%;
    background-image: none;
    box-shadow: 1px 1px 0px 0px #ffffff;

}



.elements-cast .character .image {

    width: 150px;
    height: 150px;
    padding: 5%;
    display: flex;

}

.elements-cast .character .image img {
    border-radius: 100%;
}


.btn-movie-details-back {
    width: 0;
    font-size: 18px;
}

.elements-cast .cast-elements-inline .icon-home {

    font-size: 20px;
    padding: 5%;

}

.elements-cast .cast-elements-inline .name-character-movie-details {
    font-size: 10px;
    text-align: center;
    width: 100%;
    height: 50%;
}