@media(max-width:1024px) {

    .home{
        display: none;
    }

    .home .starchips .content {

        padding: 0%;
        margin: 0;

        >.container-content .container-button {
            padding: 0%;
        }
    }


}

@media(max-width: 768px) {


    .body {
        height: 100%;
    }

    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 2px;
        box-shadow: 0px 1px 10px 1px #ffffff;
    }

    .header .logo {
        padding-left: 1%;
        height: 70%;

        .image-logo {

            width: 80%;

            >img {
                width: 100%;
            }
        }
    }


    .header .logo .text-logo img {

        width: 200%;
    }

    .header .menu .navegation {
        gap: 20px;
    }

    .header .menu .navegation .item {
        font-size: 17px;
    }

    .body .container .home {

        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }

    .body .container .home .content {
        gap: 40px;
        padding: 20px;
    }


    .body .container .home .content .container-title {

        width: 50%;

    }

    .body .container .home .content .container-content .character {
        width: 30%;
        padding: 2%;
        height: 250px;
        border-radius: 10px;
        flex-direction: column;

    }

    .home .characters .content .container-content .character .image {
        width: 98%;
        height: 60%;
        display: flex;
        /* background-color: aqua; */
    }


    .home .characters .content .container-content .character .image img {
        border-radius: 2%;
        border: none;
    }

    .home{
        display: none;
    }

}

@media(max-width: 500px) {

    .home{
        display: none;
    }

    .body {
        height: 100%;
    }

    .body .menu-mobile {
        width: 35vw;
        height: 100%;
        right: 0%;

    }

    .header .logo {

        width: 50%;
        height: 50%;
    }

    .header .logo .image-logo {
        width: 60%;
    }

    .header .logo .image-logo img {
        width: 90%;
    }

    .header .logo .text-logo {

        width: 100%;
        height: 100%;
    }

    .header .logo .text-logo img {

        width: 70%;

    }

    .header .menu .navegation-mobile {
        display: flex;
    }

    .header .menu .navegation-mobile .icon-menu {

        display: flex;
        color: #ffffff;
        cursor: pointer;
        font-size: 35px;
        opacity: 0.4;

        &:hover {

            transition: 1s ease-in-out;
            opacity: 1;

        }

    }


    .header .menu {
        width: 35vw;
        height: 100vh;
        font-size: 13px;
        position: absolute;
        right: 0%;
        top: 35%;
        flex-direction: column;
        align-items: center;
        gap: 1px;

    }


    .header .menu .navegation {
        font-size: 13px;
        flex-direction: column;
        gap: 1px;
        opacity: 1;
        display: none;

    }

    .header .menu .navegation .item {

        padding-top: 20px;
        text-align: center;
        z-index: 1;

    }

    .toggler-theme {

        width: 32px;
        height: 32px;

    }

    .toggler-theme .icon {
        font-size: 18px;
    }


    .container {
        width: 95%;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 2px;
        box-shadow: 0px 1px 10px 1px #ffffff;
    }
  


}

.body .container .home .container-content {
    flex-wrap: wrap;
}



.body .container .home .characters .content .container-content .character .title-character {

    font-size: 18px;
}



.body .container .home .movies .content .container-content {
    gap: 40px;
}

.body .container .home .indications .content .container-content {
    gap: 40px;
}

.body .container .home .content .container-content .character {
    width: 40%;
}

.home .content .container-button .btn-movie,
.btn-character,
.btn-starchip {
    font-size: 100px;
}