@media(max-width:1200px) {

    .body .home .characters .content .container-title,
    .movie-details .content .container-title {

        width: 50%;


    }
}



@media(max-width:1024px) {

    .home {
        display: none;
    }

    .home .starchips .content {

        padding: 0%;
        margin: 0;

        >.container-content .container-button {
            padding: 0%;
        }
    }

    .body .home .content .container-title .title {

        color: #ffffff;
        font-size: 25px;

    }

    .body .container .home .content .title-character {
        color: #ffffff;
        font-size: 100px;
        padding-left: 3%;
    }

    .body .container .home .characters .content .container-content .character .title-character {

        font-size: 15px;
    }

    .body .elements-cast .character {

        width: 20%;
        height: 90%;

    }

    .body .elements-cast .cast-elements-inline .name-character-movie-details {
        font-size: 10px;
    }




}

@media(max-width: 768px) {


    .body {
        height: 100%;
    }

    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 2px;
        box-shadow: 0px 1px 10px 1px #ffffff;
    }

    .header .logo {
        padding-left: 1%;
        height: 70%;

        .image-logo {

            width: 80%;

            >img {
                width: 100%;
            }
        }
    }


    .header .logo .text-logo img {

        width: 200%;
    }

    .header .menu .navegation {
        gap: 20px;
    }


    .body .container .home {

        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }

    .body .container .home .content {
        gap: 40px;
        padding: 20px;
    }


    .body .container .home .content .container-title {

        width: 25%;

    }

    .body .container .home .content .container-content .character {
        width: 30%;
        padding: 2%;
        height: 250px;
        border-radius: 10px;
        flex-direction: column;

    }

    .home .characters .content .container-content .character .image {
        width: 98%;
        height: 60%;
        display: flex;
        /* background-color: aqua; */
    }


    .home .characters .content .container-content .character .image img {
        border-radius: 2%;
        border: none;
    }

    .home {
        display: none;
    }

    .body .home .characters .content .container-title,
    .movie-details .content .container-title {

        width: 70%;


    }


    .body .movie-details .content .container-title .title {
        font-size: 20px;
    }

    .body .details .title {
        font-size: 18px;
    }

    .body .movie-details .content .background-movie .details {

        height: 250px;

    }

    .body .movie-details .content .details .details-elements .text {
        font-size: 10px;
    }


    .body .movie-details .content .details-elements-inline .average {

        width: 32px;
        height: 32px;
        font-size: 8px;

    }


    .body .elements-cast .cast-elements-inline .name-character-movie-details {
        font-size: 8px;
        /* text-align: center; */
    }

    .body .elements-cast .character:hover {
        transition: 1s ease-in-out;
        box-shadow: 0px 0px 0px 0px #ffffff;
    }

    .body .elements-cast .icon-home {
        font-size: 15px;
        padding: 1%;
    }

    .body .elements-cast .cast-elements-inline .icon-home {

        font-size: 13px;
    }


}

@media(max-width: 500px) {

    .home {
        display: none;
    }

    .body {
        height: 100%;
    }

    .body .menu-mobile {
        width: 35vw;
        height: 100%;
        right: 0%;

    }

    .header .logo {

        width: 50%;
        height: 50%;
    }

    .header .logo .image-logo {
        width: 60%;
    }

    .header .logo .image-logo img {
        width: 90%;
    }

    .header .logo .text-logo {

        width: 100%;
        height: 100%;
    }

    .header .logo .text-logo img {

        width: 70%;

    }

    .header .menu .navegation-mobile {
        display: flex;
    }

    .header .menu .navegation-mobile .icon-menu {

        display: flex;
        color: #ffffff;
        cursor: pointer;
        font-size: 35px;
        opacity: 0.4;

        &:hover {

            transition: 1s ease-in-out;
            opacity: 1;

        }

    }


    .header .menu {
        width: 35vw;
        height: 100vh;
        font-size: 13px;
        position: absolute;
        right: 0%;
        top: 35%;
        flex-direction: column;
        align-items: center;
        gap: 1px;

    }


    .header .menu .navegation {
        font-size: 13px;
        flex-direction: column;
        gap: 1px;
        opacity: 1;
        display: none;

    }

    .header .menu .navegation .item {

        padding-top: 20px;
        text-align: center;
        z-index: 1;

    }

    .toggler-theme {

        width: 48px;
        height: 48px;

    }

    .toggler-theme .icon {
        font-size: 22px;
    }


    .container {
        width: 95%;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 2px;
        box-shadow: 0px 1px 10px 1px #ffffff;
    }

    .body .container .home .content .container-content .character {
        width: 40%;
        padding: 2%;
        height: 250px;
        border-radius: 10px;
        flex-direction: column;

    }

    .movie-details .content .background-movie {

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body .movie-details .content .background-movie .details {

        width: 100%;
        margin-top: 2%;
        /* background: none; */

        &:hover {
            box-shadow: 0px 0px 0px 0px;
        }

    }

    .body .movie-details .content .container-content .movie-section {
        width: 100%;
    }

    .body .container .home .content .container-title {

        width: 40%;

    }

    .body .home .characters .content .container-title,
    .movie-details .content .container-title {

        width: 100%;


    }

    .body .movie-details .content .container-title .title {
        font-size: 15px;
    }



}


















.body .container .home .container-content {
    flex-wrap: wrap;
}


.body .container .home .movies .content .container-content {
    gap: 40px;
}

.body .container .home .indications .content .container-content {
    gap: 40px;
}

.home .content .container-button .btn-movie,
.btn-character,
.btn-starchip {
    font-size: 100px;
}