@media(max-width:1200px){



}


@media(max-width:1025px){

    .header .logo {

        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
    }

    
}


@media(max-width: 768px){


    .header .menu .navegation {
        gap:30px;
    }

    .header .menu .navegation .item{
        font-size: 18px;
    }

    .toggler-theme{

        width: 26px;
        height: 26px;
    
    }

    .header .logo .text-logo{

        font-size: 20px;
        opacity: 0.4;
    }

    .header .logo .text-logo .title{
        font-size: 28px;
    }

    
}

@media(max-width: 500px){


    .body .menu-mobile {
        width: 45vw;
        height: 100vh;
        right: 0%;
     
    }


    .header{

        justify-content: space-between;
        padding: 5%;
    }

    .header .logo{

        width: 40%;
    }


    .header .menu .navegation-mobile{
        display: flex;
    }

     .header .menu .navegation-mobile .icon-menu{
         
         display: flex;
        color: #ffffff;
        cursor: pointer;
        font-size: 40px;
        opacity: 0.4;

        &:hover{

          transition: 1s ease-in-out;  
          opacity: 1;

        }
        
    } 

 


    .header .menu  {
        font-size: 13px;
        position: absolute;
        right: 5%;
        top: 30%;
        flex-direction: column;
        align-items: center;
        gap: 1px;
 
    }


    .header .menu .navegation  {
        font-size: 13px;
        flex-direction: column;
        gap: 1px;
        display: none;
    }
    
    .header .menu .navegation .item{
        
        padding-top: 20px;
        text-align: center;
        z-index: 1;

    }

    .toggler-theme{

        width: 28px;
        height: 28px;
        margin-top: 50px;
        opacity: 1;
        z-index: 1;
        display: none;
    
    }

    .header .logo .text-logo{

        font-size: 30px;
        opacity: 0.4;
    } 
    
    .container {

 
        width: 95%;
        border-radius:2px;
        box-shadow: 0px 1px 10px 1px #ffffff;
    }

    
}