.body {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: star-wars;
    position: relative;

}


.container {

    margin: 0.5%;
    padding: 2%;
    width: 98%;
    height: 100%;
    background-image: var(--background-container);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px 1px #ffffff;

}