@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.body {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    position: relative;
    overflow-y: auto;

}

.body::-webkit-scrollbar{

    background-color: #ffffff;
    width: 10px;

}

.body::-webkit-scrollbar-thumb{

    background-color: #777777;
}

.container {

    margin: 0.5%;
    padding: 2%;
    width: 98%;
    height: 100%;
    background-image: var(--background-container);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px 1px #ffffff;

}