.toggler-theme {

    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    opacity: 0.7;
    animation: alert-theme 2s ease-in-out infinite;

}


.toggler-theme .icon {
    font-size: 25px;
}

.header .menu .toggler-theme:hover {

    opacity: 1;
    box-shadow: 1px 1px 15px 1px #ffffff;

}
