.theme-default {

    --background-image: url('../images/background-default.png');
    --background-btn-toggler-hover: #00bf63;
    --background-container: url('../images/background-container.png');
    --background-menu-mobile: #3d85c6; ; 
    transition: 5ms ease-in-out;

}

.theme-green {

    --background-image: url('../images/background-green.png');
    --background-btn-toggler-hover: #cc0000;
    --background-container: url('../images/background-container.png');
    --background-menu-mobile: #00bf63;
    transition: 5ms ease-in-out;

}

.theme-red {

    --background-image: url('../images/background-red.png');
    --background-btn-toggler-hover: #3d85c6;
    --background-container: url('../images/background-container-red.png');
    --background-menu-mobile: #cc0000;
    transition: 5ms ease-in-out;

}

