.theme-default {

    --background-image: url('../images/background-default.png');
    --background-btn-toggler-hover: #00bf63;
    --background-container: url('../images/background-container.png');
    --background-section-home: url('../images/background-section-home-default.png');
    --color-button-link: #3d85c6; 
    transition: 5ms ease-in-out;

}

.theme-green {

    --background-image: url('../images/background-green.png');
    --background-btn-toggler-hover: #000000;
    --background-container: url('../images/background-container.png');
    --background-section-home: url('../images/background-section-home-green.png');
    --color-button-link: #00bf63;
    transition: 5ms ease-in-out;

}

.theme-red {

    --background-image: url('../images/background-red.png');
    --background-btn-toggler-hover: #3d85c6;
    --background-container: url('../images/background-container.png');
    --background-section-home: url('../images/background-section-home-red.png');
    --color-button-link: #cc0000;
    transition: 5ms ease-in-out;

}

